<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="../css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../css/freelancer.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


<!-- Latest compiled and minified CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>

<script type="text/javascript" src="../galleria/galleria-1.4.2.min.js"></script>

<script src="../app.js"></script>

<script src="../js/contact.js"></script>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Gamified Personal Tracking System</h2>
                        <hr class="star-primary">

                        <style>
                            .galleria02{ width: 700px; height: 400px; background: #000 }
                        </style>
                        <div class="galleria02 img-centered" >
                            <img src="../img/firstWebsite/personalWebsite01.png">
                            <img src="../img/firstWebsite/personalWebsite02.png">
                            <img src="../img/firstWebsite/personalWebsite03.png">
                        </div>
                        <script>
                            Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js');
                            Galleria.run('.galleria02');
                        </script>

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

                        <!--<h2>First Personal Website Using NodeJS</h2>-->
                        <!--<hr class="star-primary">-->
                        <!-- -->

                        <!--<div class="galleria02 img-centered" >-->
                        <!--<img src="img/firstWebsite/personalWebsite01.png">-->
                        <!--<img src="img/firstWebsite/personalWebsite02.png">-->
                        <!--<img src="img/firstWebsite/personalWebsite03.png">-->
                        <!--</div>-->
                        <!--<script>-->
                        <!--$('.galleria02').galleria(-->
                        <!--{-->
                        <!--transition:'fadeslide',-->
                        <!--width:720,-->
                        <!--height:800-->
                        <!--}-->
                        <!--)-->
                        <!--</script>-->
                        <!--<p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>-->
                        <!--<ul class="list-inline item-details">-->
                        <!--<li>Client:-->
                        <!--<strong><a href="http://startbootstrap.com">Start Bootstrap</a>-->
                        <!--</strong>-->
                        <!--</li>-->
                        <!--<li>Date:-->
                        <!--<strong><a href="http://startbootstrap.com">April 2014</a>-->
                        <!--</strong>-->
                        <!--</li>-->
                        <!--<li>Service:-->
                        <!--<strong><a href="http://startbootstrap.com">Web Development</a>-->
                        <!--</strong>-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>